{% block pluszwei_faq_manager_detail_breadcrumb %}
    {% set position = 0 %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
            {% if article.category.navigation %}
                {% sw_include '@PluszweiFaqManager/storefront/page/faq/layout/navigation-breadcrumb.html.twig' with {category: article.category.navigation} %}

                <div class="breadcrumb-placeholder">
                    {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                </div>

                {% set breadcrumbCategories = sw_breadcrumb_full(article.category.navigation, context.context)|filter(c => c.type != 'folder') %}
                {% set position = breadcrumbCategories|length + 1 %}
            {% endif %}

            {% block pluszwei_faq_manager_detail_breadcrumb_category %}
                <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope=""
                    itemtype="https://schema.org/ListItem">
                    <a href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: article.categoryId}) }}" class="breadcrumb-link"
                       title="{{ article.category.translated.name }}" itemprop="item">
                        <link itemprop="url" href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: article.categoryId}) }}">
                        <span class="breadcrumb-title" itemprop="name">{{ article.category.translated.name }}</span>
                    </a>
                    <meta itemprop="position" content="{{ position + 1 }}">
                </li>

                <div class="breadcrumb-placeholder">
                    {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                </div>
            {% endblock %}

            {% block pluszwei_faq_manager_detail_breadcrumb_section %}
                <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope=""
                    itemtype="https://schema.org/ListItem">
                    <a href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: article.categoryId}) }}#{{ article.section.translated.name|lower|slugify }}" class="breadcrumb-link"
                       title="{{ article.section.translated.name }}" itemprop="item">
                        <link itemprop="url" href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: article.categoryId}) }}#{{ article.section.translated.name|lower|slugify }}">
                        <span class="breadcrumb-title" itemprop="name">{{ article.section.translated.name }}</span>
                    </a>
                    <meta itemprop="position" content="{{ position + 2 }}">
                </li>

                <div class="breadcrumb-placeholder">
                    {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                </div>
            {% endblock %}

            {% block pluszwei_faq_manager_detail_breadcrumb_active%}
                <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope=""
                    itemtype="https://schema.org/ListItem">
                    <a href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}" class="breadcrumb-link is-active"
                       title="{{ article.translated.title }}" itemprop="item">
                        <link itemprop="url" href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}">
                        <span class="breadcrumb-title" itemprop="name">{{ article.translated.title }}</span>
                    </a>
                    <meta itemprop="position" content="{{ position + 3 }}">
                </li>
            {% endblock %}

        </ol>

    </nav>
{% endblock %}