{% if articles|length > 0 %}
    {% block pluszwei_faq_manager_detail_featured_article %}
        <div class="sugg-article categoryContent">
            {% block pluszwei_faq_manager_detail_featured_article_title %}
                <p class="recomText">{{ 'pluszweiFaqManager.article.suggestTitle'|trans|sw_sanitize }}</p>
            {% endblock %}

            {% block pluszwei_faq_manager_detail_featured_article_container %}
                <div class="topics_pagination featured_container ">
                    {% set productSliderOptions = {
                        productboxMinWidth: '250',
                        slider: {
                            gutter: 30,
                            autoplayButtonOutput: false,
                            nav: false,
                            mouseDrag: false,
                            controls: true,
                            autoplay: false,
                            slideBy: 1,
                            responsive : {
                                xs: {
                                    items: 1,
                                    slideBy: 1
                                }
                            }
                        }
                    } %}

                    {% block pluszwei_faq_manager_detail_featured_article_slider %}
                        <div class="base-slider product-slider has-nav"
                             data-product-slider="true"
                             data-product-slider-options="{{ productSliderOptions | json_encode }}">
                            <div class="product-slider-container"
                                 data-product-slider-container="true">
                                {% for article in articles %}
                                    {% set readingTime = article.readingTimeInMin %}

                                    {% block pluszwei_faq_manager_detail_featured_article_slider_item %}
                                        <div class="product-slider-item">
                                            <a href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}">
                                                <div class="columnHead">{{ article.translated.title }}</div>
                                                <div class="content"><p>{{ article.translated.teaser }}</p>
                                                </div>
                                                <span class="footNote">{{ 'pluszweiFaqManager.article.readingTime'|trans({'%min%': readingTime})|sw_sanitize }}</span></a>
                                        </div>
                                    {% endblock %}

                                {% endfor %}
                            </div>

                            {% block pluszwei_faq_manager_detail_featured_article_slider_control %}
                                <div class="product-slider-controls-container">
                                    <div class="base-slider-controls"
                                         data-product-slider-controls="true">
                                        <button
                                                class="base-slider-controls-prev product-slider-controls-prev  has-border">
                                            {% sw_icon 'arrow-head-left' %}
                                        </button>
                                        <button
                                                class="base-slider-controls-next product-slider-controls-next has-border ">
                                            {% sw_icon 'arrow-head-right' %}
                                        </button>
                                    </div>
                                </div>
                            {% endblock %}

                        </div>
                    {% endblock %}

                </div>
            {% endblock %}

        </div>
    {% endblock %}

{% endif %}
