{% if sections|length > 0 %}
    <div class="browse_other_article">
        {% block pluszwei_faq_manager_detail_relate_section_title %}
            <div class="h3 find_other">{{ 'pluszweiFaqManager.article.findOther'|trans|sw_sanitize }}</div>
        {% endblock %}

        {% block pluszwei_faq_manager_detail_relate_section_article %}
        <div class="otherArticles">

            {% block pluszwei_faq_manager_detail_relate_section_article_description %}
                <p>{{ 'pluszweiFaqManager.article.otherArticles'|trans|sw_sanitize }}</p>
            {% endblock %}

            {% block pluszwei_faq_manager_detail_relate_section_article_list %}
            <ul>
                {% for section in sections %}

                    {% block pluszwei_faq_manager_detail_relate_section_article_item %}
                        <li>
                            <a class="link_arrow_left_blue" href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: section.parentId}) }}#{{ section.translated.name|lower|slugify }}">
                                <span>{% sw_icon 'arrow-left' %}</span>
                                {{ section.translated.name }}
                            </a>
                        </li>
                    {% endblock %}

                {% endfor %}
            </ul>
            {% endblock %}

        </div>
        {% endblock %}

    </div>
{% endif %}
