{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
{% block layout_main_navigation %}
    {{ parent() }}
    {% block layout_main_navigation_navbar %}
        <div class="container">
            {% block layout_main_navigation_menu %}
                <nav class="nav main-navigation-menu"
                     itemscope="itemscope"
                     itemtype="http://schema.org/SiteNavigationElement"
                     data-gaisbock-add-remove-class>
                    {% set homeLabel = context.salesChannel.translated.homeName|default("general.homeLink"|trans) %}

                    {% block layout_main_navigation_menu_home %}
                        {% if context.salesChannel.translated.homeEnabled %}
                            <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                               href="{{ path('frontend.home.page') }}"
                               itemprop="url"
                               title="{{ homeLabel|striptags }}">
                                <div class="main-navigation-link-text">
                                    <span itemprop="name">{{ homeLabel|sw_sanitize }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block layout_main_navigation_menu_items %}
                        {% set activePath = page.header.navigation.active.path %}

                        {% for treeItem in page.header.navigation.tree %}
                            {% set category = treeItem.category %}
                            {% set name = category.translated.name %}

                            {% block layout_main_navigation_menu_item %}
                                {% if category.type == 'folder' %}
                                    <div class="nav-link main-navigation-link"
                                            {% if treeItem.children|length > 0 %}
                                                data-flyout-menu-trigger="{{ category.id }}"
                                            {% endif %}
                                         title="{{ name }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
                                       href="{{ category_url(category) }}"
                                       itemprop="url"
                                       id="navigationId"
                                       {% if treeItem.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                                            {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                       title="{{ name }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
