{% sw_extends '@Storefront/storefront/base.html.twig' %}
{# Set variable to "true" to enable HMR (hot page reloading) mode #}
{% set isHMRMode = app.request.headers.get('hot-reload-mode') and app.environment == 'dev' %}

{% block base_doctype %}
<!DOCTYPE html>
{% endblock %}

{% block base_html %}
<html lang="{{ page.header.activeLanguage.translationCode.code }}"
      itemscope="itemscope"
      itemtype="https://schema.org/WebPage">
{% endblock %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/layout/meta.html.twig' %}
{% endblock %}

{% block base_body %}
{% if nmeConfig.freeShippingBarPosition == 'top' %}
    {% sw_include '@Storefront/storefront/custom/nme-free-shipping-bar.html.twig' %}
{% endif %}
{% sw_include '@Storefront/storefront/custom/nme-conversion-bar.html.twig' %}
{% if nmeConfig.freeShippingBarPosition == 'bottom' %}
    {% sw_include '@Storefront/storefront/custom/nme-free-shipping-bar.html.twig' %}
{% endif %}
{% sw_include '@Storefront/storefront/custom/nme-newsletter-popup.html.twig' %}
{% sw_include '@Storefront/storefront/custom/nme-register-popup.html.twig' %}
<body class="header-hover {% block base_body_classes %}{{ parent() }}{% set TanmarNgInfiniteScrollingData = context.context.extensions.TanmarNgInfiniteScrolling %}{% if TanmarNgInfiniteScrollingData.active %} is-tanmar-infinite-scrolling {% endif %}{% endblock %}"
      data-gaisbock-animation data-gaisbock-addmore-section data-gaisbock-image-with-addmore-slider>
<script src="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.3/dist/tiny-slider.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
<div class="gaisbock-sticky-language-switcher">
    <form method="post"
          action="{{ path('frontend.checkout.switch-language') }}"
          class="language-form"
          data-form-auto-submit="true">


        {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('-') %}
        {% set language = isoCode[0] %}
        {% set country = isoCode[1] %}

        <div class="languages-menu dropdown">
            <button class="btn dropdown-toggle top-bar-nav-btn"
                    type="button"
                    id="languagesDropdown-{{ position }}"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="top-bar-nav-text">{{ page.header.activeLanguage.name|capitalize|slice(0,1) }}</span>
            </button>

            <div class="top-bar-list dropdown-menu dropdown-menu-right"
                 aria-labelledby="languagesDropdown-{{ position }}">
                {% for language in  page.header.languages %}
                    <div class="top-bar-list-item dropdown-item{% if language.id is same as(page.header.activeLanguage.id) %} item-checked{% endif %}"
                         title="{{ language.translated.name }}">


                        {% set isoCode = language.translationCode.code|lower|split('-') %}
                        {% set flagLanguage = isoCode[0] %}
                        {% set flagCountry = isoCode[1] %}

                        <label class="top-bar-list-label"
                               for="{{ position }}-{{ language.id }}">
                            <input id="{{ position }}-{{ language.id }}"
                                   class="top-bar-list-radio"
                                   value="{{ language.id }}"
                                   name="languageId"
                                   type="radio"
                                    {% if language.id is same as(page.header.activeLanguage.id) %} checked{% endif %}>
                            {{ language.translationCode.code|capitalize|slice(0,1) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

        {% for key, value in app.request.attributes.get('_route_params') %}
            <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
        {% endfor %}

    </form>
</div>
{% block base_body_inner %}
    {% block base_noscript %}
        <noscript class="noscript-main">
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: 'info',
                content: 'general.noscriptNotice'|trans|sw_sanitize,
                iconCache: false
            } %}
        </noscript>
    {% endblock %}

    {% block base_header %}
        <header class="header-main gaisbock-header-main" id="mainNavigationHover" data-gaisbock-add-remove-class>
            {% block base_header_inner %}
                <div class="container" data-flyout-menu>

                    {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
                </div>
            {% endblock %}
        </header>
    {% endblock %}

    {% block base_offcanvas_navigation %}
        {% if page.header.navigation %}
            <div class="d-none js-navigation-offcanvas-initial-content{% if context.salesChannel.navigationCategoryId == page.header.navigation.active.id %} is-root{% endif %}">
                {% block base_offcanvas_navigation_inner %}
                    {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/navigation.html.twig' with { navigation: page.header.navigation } %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {% block base_main %}
        <main class="content-main" id="mainNavigationHoverMainClass">
            {% block base_flashbags %}
                <div class="flashbags container">
                    {% for type, messages in app.flashes %}
                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                    {% endfor %}
                </div>
            {% endblock %}

            {% block base_main_inner %}
                <div class="container">
                    {% block base_main_container %}
                        <div class="container-main" data-gaisbock-header-hover-add-class>
                            {% if app.request.get('_route') === 'frontend.account.login.page' %}
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ app.request.server.get('APP_URL') }}" class="breadcrumb-link">{{ 'account.home.title'|trans|sw_sanitize }}</a> / {{ 'account.registrationTitle'|trans|sw_sanitize }}
                                    </li>
                                </ol>
                            </nav>
                            {% endif %}
                            {% if app.request.get('_route') === 'frontend.account.customer-group-registration.page' %}
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{{ app.request.server.get('APP_URL') }}" class="breadcrumb-link">{{ 'account.home.title'|trans|sw_sanitize }}</a> / {{ 'account.patner'|trans|sw_sanitize }}
                                        </li>
                                    </ol>
                                </nav>
                            {% endif %}
                            {% block base_breadcrumb %}
                                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                                    context: context,
                                    category: page.product.seoCategory
                                } only %}
                            {% endblock %}
                            {% block base_content %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            
        </main>
    {% endblock %}

    {% block base_footer %}
        <footer class="footer-main">
            {% block base_footer_inner %}
                {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
            {% endblock %}
        </footer>
    {% endblock %}
{% endblock %}

{% block base_scroll_up %}
    {% sw_include '@Storefront/storefront/layout/scroll-up.html.twig' %}
{% endblock %}

{% block base_cookie_permission %}
    {% sw_include '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}
{% endblock %}

{% block base_pseudo_modal %}
    {% sw_include '@Storefront/storefront/component/pseudo-modal.html.twig' %}
{% endblock %}

{% block base_body_script %}
<script>
        var slider1 = document.querySelector('.product-detail-cross-selling');
        if (slider1) {
            var slider1 = tns({
                container: '.product-detail-cross-selling .gaisbock-product-sliders',
                items: 3,
                gutter:0,
                autoplay: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
                nav: false,
                controls: false,
                responsive: {
                    320: {
                        items: 1,
                        controls: true,
                        nav: true,
                        loop:false
                    },
                    767: {
                        controls: true,
                        items: 1,
                        nav: true,
                        loop:false
                    },
                    992: {
                        items: 3
                    },
                    1023: {
                        items: 3
                    }
                }
            });
        }
    </script>
    <script>
        var slider2 = document.querySelector('div#cs-productsSameCategory-tab-pane');
        if (slider2) {
            var slider2 = tns({
                container: 'div#cs-productsSameCategory-tab-pane .gaisbock-product-sliders',
                items: 3,
                gutter:0,
                autoplay: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
                nav: false,
                controls: false,
                responsive: {
                    320: {
                        items: 1,
                        controls: true,
                        nav: true,
                        loop:false
                    },
                    767: {
                        controls: true,
                        nav: true,
                        items: 1,
                        loop:false
                    },
                    992: {
                        items: 3
                    },
                    1023: {
                        items: 3
                    }
                }
            });
        }
    </script>
    <script>
        var slider3 = document.querySelector('div#cs-recentlyViewed-tab-pane');
        if (slider3) {
            var slider3 = tns({
                container: 'div#cs-recentlyViewed-tab-pane .gaisbock-product-sliders',
                items: 3,
                gutter:0,
                autoplay: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
                nav: false,
                controls: false,
                responsive: {
                    320: {
                        items: 1,
                        controls: true,
                        nav: true,
                        loop:false
                    },
                    767: {
                        controls: true,
                        nav: true,
                        items: 1,
                        loop:false
                    },
                    992: {
                        items: 3
                    },
                    1023: {
                        items: 3
                    }
                }
            });
        }
    </script>
    <script>
        var slider4 = document.querySelector('div#cs-customersAlsoViewed-tab-pane');
        if (slider4) {
            var slider4 = tns({
                container: 'div#cs-customersAlsoViewed-tab-pane .gaisbock-product-sliders',
                items: 3,
                gutter:0,
                autoplay: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
                nav: false,
                controls: false,
                responsive: {
                    320: {
                        items: 1,
                        controls: true,
                        nav: true,
                        loop:false
                    },
                    767: {
                        controls: true,
                        items: 1,
                        nav: true,
                        loop:false
                    },
                    992: {
                        items: 3
                    },
                    1023: {
                        items: 3
                    }
                }
            });
        }
    </script>
        <script>
        var slider5 = document.querySelector('.three-product-section');
        if (slider5) {
            var slider5 = tns({
                container: '.three-product-section .gaisbock-product-sliders',
                items: 1,
                gutter:0,
                autoplay: true,
                nav: true,
                controls: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
            });
        }
    </script>
            <script>
        var slider6 = document.querySelector('.three-sections-two');
        if (slider6) {
            var slider6 = tns({
                container: '.three-sections-two .gaisbock-product-sliders',
                items: 1,
                gutter:0,
                autoplay: true,
                nav: true,
                controls: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
            });
        }
    </script>
            <script>
        var slider7 = document.querySelector('.three-sections-three');
        if (slider7) {
            var slider7 = tns({
                container: '.three-sections-three .gaisbock-product-sliders',
                items: 1,
                gutter:0,
                autoplay: true,
                nav: true,
                controls: true,
                autoplayButton: false,
                autoplayButtonOutput: false,
            });
        }
    </script>
    {% set TanmarNgInfiniteScrollingData = context.context.extensions.TanmarNgInfiniteScrolling %}
    {% if TanmarNgInfiniteScrollingData.active %}
        <script>
            ;(function(){
                var _pages = parseInt('{{ TanmarNgInfiniteScrollingData.pages }}',10);

                window._tanmarInfiniteScrolling = {
                    version: '1.5.1',
                    pages: isNaN(_pages) ? 0 : _pages,
                    snippets: {
                        prev: {
                            btn: '{{ "tanmar-infinite-scrolling.prev.btn"|trans }}',
                            navi: '{{ "tanmar-infinite-scrolling.prev.navi"|trans }}'
                        },
                        next: {
                            btn: '{{ "tanmar-infinite-scrolling.next.btn"|trans }}',
                            navi: '{{ "tanmar-infinite-scrolling.next.navi"|trans }}'
                        }
                    },
                    customProduct: '{{ TanmarNgInfiniteScrollingData.customProduct }}',
                    customPrepend: '{{ TanmarNgInfiniteScrollingData.customPrepend }}',
                    customAppend: '{{ TanmarNgInfiniteScrollingData.customAppend }}',
                    rootMargin: '{{ TanmarNgInfiniteScrollingData.rootMargin }}',
                    threshold: '{{ TanmarNgInfiniteScrollingData.threshold }}',
                    debug: {% if TanmarNgInfiniteScrollingData.debug %}true{% else %}false{% endif %},
                    triggerAfterRenderResponseEvent: {% if TanmarNgInfiniteScrollingData.triggerAfterRenderResponseEvent %}true{% else %}false{% endif %},
                    onlyObserveWithinListingWrapper: {% if TanmarNgInfiniteScrollingData.onlyObserveWithinListingWrapper %}true{% else %}false{% endif %},
                    customPaginationSelector: '{{ TanmarNgInfiniteScrollingData.customPaginationSelector }}'
                };

            })();
        </script>
        
    {% endif %}
{% endblock %}

</body>
</html>
{% endblock %}
