{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
{% block page_product_detail_buy_inner %}
    <div class="js-magnifier-zoom-image-container">
        {% block page_product_detail_rich_snippets %}
            {% block page_product_detail_rich_snippets_brand %}
                {% if page.product.manufacturer %}
                    <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                        <meta itemprop="name" content="{{ page.product.manufacturer.translated.name }}"/>
                    </div>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_gtin13 %}
                {% if page.product.ean %}
                    <meta itemprop="gtin13"
                          content="{{ page.product.ean }}"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_mpn %}
                {% if page.product.manufacturerNumber %}
                    <meta itemprop="mpn"
                          content="{{ page.product.manufacturerNumber }}"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_weight %}
                {% if page.product.weight %}
                    <meta itemprop="weight"
                          content="{{ page.product.weight }} kg"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_height %}
                {% if page.product.height %}
                    <meta itemprop="height"
                          content="{{ page.product.height }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_width %}
                {% if page.product.width %}
                    <meta itemprop="width"
                          content="{{ page.product.width }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_depth %}
                {% if page.product.length %}
                    <meta itemprop="depth"
                          content="{{ page.product.length }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_release_date %}
                <meta itemprop="releaseDate"
                      content="{{ page.product.releaseDate|format_date(pattern='Y-MM-dd') }}"/>
            {% endblock %}
        {% endblock %}
        {% block gaisbock_product_name %}
            <h1 class="product-detail-name"
                itemprop="name">
                {{ page.product.translated.name }}
            </h1>
        {% endblock %}
        {% block page_product_detail_reviews %}
            {% if page.product.ratingAverage > 0 and page.reviews.totalReviews > 0 and config('core.listing.showReview') %}
                <div class="product-detail-reviews">

                    {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                        points: page.product.ratingAverage,
                        style: 'text-primary'
                    } %}

                    <a
                            class="product-detail-reviews-link"
                            data-bs-toggle="modal" data-bs-target="#exampleModal1"
                    >
                        {{ page.reviews.totalReviews }}
                        {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                    </a>
                </div>
            {% endif %}
        {% endblock %}
        {% block page_product_detail_buy_container %}
            <div itemprop="offers"
                 itemscope
                 itemtype="{% if page.product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">
                {% block page_product_detail_data %}
                    {% block page_product_detail_data_rich_snippet_url %}
                        <meta itemprop="url"
                              content="{{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}"/>
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_range %}
                        {% if page.product.calculatedPrices|length > 1 %}
                            {% set lowestPrice = false %}
                            {% set highestPrice = false %}

                            {% for price in page.product.calculatedPrices %}
                                {% if not lowestPrice or price.unitPrice < lowestPrice %}
                                    {% set lowestPrice = price.unitPrice %}
                                {% endif %}
                                {% if not highestPrice or price.unitPrice > highestPrice %}
                                    {% set highestPrice = price.unitPrice %}
                                {% endif %}
                            {% endfor %}

                            <meta itemprop="lowPrice" content="{{ lowestPrice }}"/>
                            <meta itemprop="highPrice" content="{{ highestPrice }}"/>
                            <meta itemprop="offerCount" content="{{ page.product.calculatedPrices|length }}"/>
                        {% endif %}
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_currency %}
                        <meta itemprop="priceCurrency"
                              content="{{ context.currency.translated.shortName }}"/>
                    {% endblock %}

                    {% block page_product_detail_price %}
                        <div class="product-detail-price-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
                        </div>
                        <div class="gaisbock-custom-field-extra-contain">
                            <span>{{ page.product.translated.customFields.gaisbock_product_detail_extra_details_contain }}</span>
                        </div>
                    {% endblock %}
                    {% block gaisbock_product_description %}
                        <div class="gaisbock-product-description">
                            {{ page.product.translated.description|raw }}
                        </div>
                    {% endblock %}
                    {% block page_product_detail_tax %}
                        {# remove text contains #}
                    {% endblock %}

                    {% set remoteClickOptions = {
                        selector: "#review-tab",
                        scrollToElement: true
                    } %}


                {% endblock %}

                {% block page_product_detail_configurator_include %}
                    {% if page.product.parentId and page.configuratorSettings|length > 0 %}
                        <div class="product-detail-configurator-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_buy_form %}
                    {% if page.product.active %}
                        <div class="product-detail-form-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
                        </div>
                    {% endif %}

                {% endblock %}
            </div>
        {% endblock %}

        {% if config('core.cart.wishlistEnabled') %}
            {% block page_product_detail_wishlist %}
                {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    showText: true,
                    size: 'md',
                    productId: page.product.id
                } %}
            {% endblock %}
        {% endif %}

        {% block page_product_detail_ordernumber_container %}
            {% block page_product_detail_delivery_informations %}
                <div class="product-detail-delivery-information">
                    {% sw_include '@Storefront/storefront/component/delivery-information.html.twig' %}
                </div>
            {% endblock %}
            {% if page.product.productNumber %}
                <div class="product-detail-ordernumber-container">
                    {% block page_product_detail_ordernumber_label %}
                        <span class="product-detail-ordernumber-label">
                            {{ "detail.productNumberLabel"|trans|sw_sanitize }}
                        </span>
                    {% endblock %}

                    {% block page_product_detail_ordernumber %}
                        <meta itemprop="productID"
                              content="{{ page.product.id }}"/>
                        <span class="product-detail-ordernumber"
                              itemprop="sku">
                            {{ page.extensions.products.productNumber }}
                        </span>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

        {% block gaisbock_extra_info %}
            {% if page.product.translated.customFields.gaisbock_product_detail_description_set_image1_text %}
                <div class="accordion" id="accordionExampleOne">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingOne">
                            <h3 class="accordion-header" id="headingOne">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseTwo">
                                    {{ "productDetailPage.contents"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block page_product_detail_description_content_text %}
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExampleOne">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {% if page.product.extensions.images.customImage.1 %}
                                        <img src="{{ page.product.extensions.images.customImage.1.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image1_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.2 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.2.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image2_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.3 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.3.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image3_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.4 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.4.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image4_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.5 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.5.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image5_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.6 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.6.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image6_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.7 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.7.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image7_text }}</p>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.8 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ page.product.extensions.images.customImage.8.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image8_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_benefits %}
                <div class="accordion" id="accordionExampleTwo">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingTwo">
                            <h3 class="accordion-header" id="headingTwo">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                      aria-expanded="true" aria-controls="collapseTwo">
                                    {{ "productDetailPage.benefits"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block page_product_detail_description_content_text_benfits %}
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExampleTwo">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_benefits|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_effect %}
                <div class="accordion" id="accordionExampleThree">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingThree">
                            <h3 class="accordion-header" id="headingThree">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                      aria-expanded="true" aria-controls="collapseThree">
                                    {{ "productDetailPage.effect"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_effect %}
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExampleThree">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_effect|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_application %}
                <div class="accordion" id="accordionExampleFour">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingFour">
                            <h3 class="accordion-header" id="headingFour">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                      aria-expanded="true" aria-controls="collapseFour">
                                    {{ "productDetailPage.application"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_application %}
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExampleFour">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_application|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_integral %}
                <div class="accordion" id="accordionExampleFive">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingFive">
                            <h3 class="accordion-header" id="headingFive">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                      aria-expanded="true" aria-controls="collapseFive">
                                    {{ "productDetailPage.integral"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_integral %}
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExampleFive">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_integral|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_shipping %}
                <div class="accordion" id="accordionExampleSix">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingSix">
                            <h3 class="accordion-header" id="headingSix">
                                <span type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                      aria-expanded="true" aria-controls="collapseSix">
                                    {{ "productDetailPage.shipping"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_shipping %}
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExampleSix">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_shipping|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}

        {% endblock %}
    </div>
{% endblock %}
