{% block element_gaisbock_image_addmore_text %}
    {% set config = element.fieldConfig.elements %}
    {% set active = '' %}
    <div class="element-gaisbock-image-add-more-text" id="{{ element.config.heading.value|replace({' ': ''}) }}">
        {% if element.fieldConfig.elements.position.value == true %}
            {% set active = 'active' %}
        {% endif %}
        <div class="element-gaisbock-image-add-more-text--inner {{ active }} ">
            {% block sw_cms_element_image_content %}
                <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
                    {% block element_product_slider_alignment %}
                        {% block element_image_container %}
                            {% if element.config.url.value %}
                                <div class="cms-image-container is-{{ element.translated.config.displayMode.value }}">
                                    <img src="{{ element.config.url.value }}" alt="">
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
            {% block sw_cms_element_text %}
                <div class="element-gaisbock-image-add-more-text__text">
                    <h1>{{ element.config.heading.value }}</h1>
                    <p>{{ element.config.content.value|raw }}</p>
                    {% if app.request.locale === 'de-DE' %}
                        <a href="javascript:void(0)" id="readMore" class="readmore-btn" data-language-value="{{ app.request.locale }}" data-diffrent = "{{ element.id }}">Mehr lesen</a>
                    {% elseif app.request.locale === 'fr-FR' %}
                        <a href="javascript:void(0)" id="readMore" class="readmore-btn" data-language-value="{{ app.request.locale }}" data-diffrent = "{{ element.id }}">Lire la suite</a>
                    {% else %}
                        <a href="javascript:void(0)" id="readMore" class="readmore-btn" data-language-value="{{ app.request.locale }}" data-diffrent = "{{ element.id }}">Read More</a>

                    {% endif %}
                    <div id="gaisbock-addmore-section-{{ element.id }}" style="display:none;">
                        <div class="element-gaisbock-image-addmore-text__images">
                            <div class="gaisbock-text-line">
                                <p>{{ element.config.subContent.value|raw }}</p>
                                <h1>{{ element.config.subHeading.value }}</h1>
                                <p>{{ element.config.subContent.value|raw }}</p>
                            </div>
                            <div class="element-gaisbock-image-addmore-text__images_main">
                                <div class="gaisbock-image-line">
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlOne.value }}" alt="">
                                        {% if element.config.urlOne.value %}
                                            <p>{{ element.config.titleOne.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlTwo.value }}" alt="">
                                        {% if element.config.urlTwo.value %}
                                            <p>{{ element.config.titleTwo.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlThree.value }}" alt="">
                                        {% if element.config.urlThree.value %}
                                            <p>{{ element.config.titleThree.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlFour.value }}" alt="">
                                        {% if element.config.urlFour.value %}
                                            <p>{{ element.config.titleFour.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlFive.value }}" alt="">
                                        {% if element.config.urlFive.value %}
                                            <p>{{ element.config.titleFive.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlSix.value }}" alt="">
                                        {% if element.config.urlSix.value %}
                                            <p>{{ element.config.titleSix.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlSeven.value }}" alt="">
                                        {% if element.config.urlSeven.value %}
                                            <p>{{ element.config.titleSeven.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlEight.value }}" alt="">
                                        {% if element.config.urlEight.value %}
                                            <p>{{ element.config.titleEight.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlNine.value }}" alt="">
                                        {% if element.config.urlNine.value %}
                                            <p>{{ element.config.titleNine.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlTen.value }}" alt="">
                                        {% if element.config.urlTen.value %}
                                            <p>{{ element.config.titleTen.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlEleven.value }}" alt="">
                                        {% if element.config.urlEleven.value %}
                                            <p>{{ element.config.titleEleven.value }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="gaisbock-image-inner">
                                        <img src="{{ element.config.urlTwelve.value }}" alt="">
                                        {% if element.config.urlTwelve.value %}
                                            <p>{{ element.config.titleTwelve.value }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <script>

    </script>
{% endblock %}
