{% sw_extends '@Storefront/storefront/element/cms-element-product-slider.html.twig' %}
{% block element_product_slider %}
    {% if not sliderConfig %}
        {% set sliderConfig = element.fieldConfig.elements %}
    {% endif %}
    {% if element.data.products.elements %}
        <div
            class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == "standard" and sliderConfig.verticalAlign.value %} has-vertical-alignment{% endif %} gaisbock-product-slider">
            {% block element_product_slider_alignment %}
                {% if config.verticalAlign.value %}
                    <div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                {% endif %}

                {% block element_product_slider_slider %}
                    <div
                            class="base-slider product-slider{% if sliderConfig.border.value %} has-border{% endif %}{% if sliderConfig.navigation.value %} has-nav{% endif %}">

                        {% block element_product_slider_title %}
                            {% if sliderConfig.title.value %}
                                <div class="cms-element-title">
                                    <p class="cms-element-title-paragraph">{{ sliderConfig.title.value }}</p>
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block element_product_slider_inner %}
                            {% block element_product_slider_element %}
                                <div class="product-slider-container">
                                    <div class="gaisbock-product-sliders">
                                        {% for product in element.data.products.elements %}
                                            {% block element_product_slider_inner_item %}
                                                <div class="product-slider-item">
                                                    {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                                        'layout': sliderConfig.boxLayout.value,
                                                        'displayMode': sliderConfig.displayMode.value
                                                    } %}
                                                </div>
                                            {% endblock %}
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endblock %}
                            <div id="gaisbock-controls-{{ element.data.products.elements|first.id }}" class="">
                                <span class="gaisbock-button-previous-{{ element.data.products.elements|first.id }}">{% sw_icon 'ic-chevron-right-dark' style {'pack': 'gaisbock','class':'gaisbock-left'} %}</span>
                                <span class="gaisbock-property-button-next-{{ element.data.products.elements|first.id }}">{% sw_icon 'ic-chevron-right-dark' style {'pack': 'gaisbock','class':'gaisbock-right'} %}</span>
                            </div>
                        {% endblock %}

                    </div>
                {% endblock %}
                {% if config.verticalAlign.value %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
    <script>
            var slider = tns({
                container: '.product-detail-cross-selling .gaisbock-product-sliders',
                items: 3,
                autoplay: true,
                autoplayButtonOutput:false,
                nav: false,
                controls:true,
                responsive: {
                    320: {
                        items: 2
                    },
                    767: {
                        controlsContainer:'div#cs-recentlyViewed-tab-pane #gaisbock-controls',
                        prevButton:'div#cs-recentlyViewed-tab-pane .gaisbock-button-previous',
                        nextButton:'div#cs-recentlyViewed-tab-pane .gaisbock-property-button-next',
                    },
                    992: {
                        items: 3
                    },
                    1023: {
                        items: 3
                    }
                }
            });
    </script>
    <script>
        var slider = tns({
            container: 'div#cs-productsSameCategory-tab-pane .gaisbock-product-sliders',
            items: 3,
            autoplay: true,
            autoplayButtonOutput:false,
            nav: false,
            controls:true,
            responsive: {
                320: {
                    items: 2
                },
                767: {
                    controlsContainer:'div#cs-recentlyViewed-tab-pane #gaisbock-controls',
                    prevButton:'div#cs-recentlyViewed-tab-pane .gaisbock-button-previous',
                    nextButton:'div#cs-recentlyViewed-tab-pane .gaisbock-property-button-next',
                },
                992: {
                    items: 3
                },
                1023: {
                    items: 3
                }
            }
        });
    </script>
    <script>
        var slider = tns({
            container: 'div#cs-recentlyViewed-tab-pane .gaisbock-product-sliders',
            items: 3,
            autoplay: true,
            autoplayButtonOutput:false,
            nav: false,
            controls:true,
            responsive: {
                320: {
                    items: 2
                },
                767: {
                    controlsContainer:'div#cs-recentlyViewed-tab-pane #gaisbock-controls',
                    prevButton:'div#cs-recentlyViewed-tab-pane .gaisbock-button-previous',
                    nextButton:'div#cs-recentlyViewed-tab-pane .gaisbock-property-button-next',
                },
                992: {
                    items: 3
                },
                1023: {
                    items: 3
                }
            }
        });
    </script>
    <script>
        var slider = tns({
            container: 'div#cs-customersAlsoViewed-tab-pane .gaisbock-product-sliders',
            items: 3,
            autoplay: true,
            autoplayButtonOutput:false,
            nav: false,
            controls:true,
            responsive: {
                320: {
                    items: 2
                },
                767: {
                    controlsContainer:'div#cs-recentlyViewed-tab-pane #gaisbock-controls',
                    prevButton:'div#cs-recentlyViewed-tab-pane .gaisbock-button-previous',
                    nextButton:'div#cs-recentlyViewed-tab-pane .gaisbock-property-button-next',
                },
                992: {
                    items: 3
                },
                1023: {
                    items: 3
                }
            }
        });
    </script>
{% endblock %}
