{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}
{% block buy_widget %}
    <div class="product-detail-buy{% if elementId %}-{{ elementId }}{% endif %} js-magnifier-zoom-image-container">
        {% block buy_widget_rich_snippets %}
            {% block buy_widget_rich_snippets_brand %}
                {% if product.manufacturer %}
                    <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                        <meta itemprop="name" content="{{ product.manufacturer.translated.name }}"/>
                    </div>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_gtin13 %}
                {% if product.ean %}
                    <meta itemprop="gtin13"
                          content="{{ product.ean }}"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_mpn %}
                {% if product.manufacturerNumber %}
                    <meta itemprop="mpn"
                          content="{{ product.manufacturerNumber }}"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_weight %}
                {% if product.weight %}
                    <meta itemprop="weight"
                          content="{{ product.weight }} kg"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_height %}
                {% if product.height %}
                    <meta itemprop="height"
                          content="{{ product.height }} mm"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_width %}
                {% if product.width %}
                    <meta itemprop="width"
                          content="{{ product.width }} mm"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_depth %}
                {% if product.length %}
                    <meta itemprop="depth"
                          content="{{ product.length }} mm"/>
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_release_date %}
                <meta itemprop="releaseDate"
                      content="{{ product.releaseDate|format_date(pattern='Y-MM-dd') }}"/>
            {% endblock %}
        {% endblock %}
        {% block gaisbock_product_name %}
            <div class="product-main-title d-flex align-items-center justify-content-between">
                <h1 class="product-detail-name"
                    itemprop="name">
                    {% if page.product.parentId !== null %}
                        {{ page.extensions.products.productName }}
                    {% else %}
                        {{ page.product.translated.name }}
                    {% endif %}
                </h1>
                {% if config('core.cart.wishlistEnabled') %}
                    {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                        showText: false,
                        size: 'md',
                        productId: product.id
                    } %}
                {% endif %}
            </div>
        {% endblock %}
        {% block buy_widget_reviews %}

            <div class="product-detail-reviews">
                {% if product.ratingAverage > 0 and totalReviews > 0 and config('core.listing.showReview') %}

                    {% if remoteClickOptions is not defined %}
                        {% set remoteClickOptions = {
                            selector: "#review-tab-" ~ product.id,
                            scrollToElement: true
                        } %}
                    {% endif %}

                    {% if reviewTabHref is not defined %}
                        {% set reviewTabHref = "#review-tab-" ~ product.id ~ "-pane" %}
                    {% endif %}

                    {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                        points: product.ratingAverage,
                        style: 'text-primary'
                    } %}
                    <a
                            class="product-detail-reviews-link"
                            data-bs-toggle="modal" data-bs-target="#exampleModal1"
                    >
                        {{ totalReviews }}
                        {{ "detail.reviewLinkText"|trans({'%count%': totalReviews})|sw_sanitize }}
                    </a>
                {% endif %}
            </div>

        {% endblock %}

        {% block buy_widget_buy_container %}
            <div itemprop="offers"
                 itemscope
                 itemtype="{% if product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">
                {% block buy_widget_data %}
                    {% block buy_widget_data_rich_snippet_url %}
                        <meta itemprop="url"
                              content="{{ seoUrl('frontend.detail.page', { productId: product.id }) }}"/>
                    {% endblock %}

                    {% block buy_widget_data_rich_snippet_price_range %}
                        {% if product.calculatedPrices|length > 1 %}
                            {% set lowestPrice = false %}
                            {% set highestPrice = false %}

                            {% for price in product.calculatedPrices %}
                                {% if not lowestPrice or price.unitPrice < lowestPrice %}
                                    {% set lowestPrice = price.unitPrice %}
                                {% endif %}
                                {% if not highestPrice or price.unitPrice > highestPrice %}
                                    {% set highestPrice = price.unitPrice %}
                                {% endif %}
                            {% endfor %}

                            <meta itemprop="lowPrice" content="{{ lowestPrice }}"/>
                            <meta itemprop="highPrice" content="{{ highestPrice }}"/>
                            <meta itemprop="offerCount" content="{{ product.calculatedPrices|length }}"/>
                        {% endif %}
                    {% endblock %}

                    {% block buy_widget_data_rich_snippet_price_currency %}
                        <meta itemprop="priceCurrency"
                              content="{{ context.currency.translated.shortName }}"/>
                    {% endblock %}

                    {% block buy_widget_price %}
                        <div class="product-detail-price-container">
                            {% if page.extensions.products.VariantImage %}
                            {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block gaisbock_product_description %}
                        <div class="gaisbock-product-description">
                            {{ page.product.translated.description|raw }}
                        </div>
                    {% endblock %}
                    {% block buy_widget_tax %}
                        <div class="product-detail-tax-container">
                            {% if context.taxState == "gross" %}
                                {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                            {% else %}
                                {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                            {% endif %}

                        </div>
                    {% endblock %}

                {% endblock %}

                {% block buy_widget_configurator_include %}
                    {% if product.parentId and configuratorSettings|length > 0 %}
                        <div class="product-detail-configurator-container">
                            {% sw_include '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block buy_widget_buy_form %}
                    {% if product.active %}
                        <div class="product-detail-form-container">
                            {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}
                        </div>
                    {% endif %}

                {% endblock %}
            </div>
        {% endblock %}

        {% if config('core.cart.wishlistEnabled') %}
            {% block buy_widget_wishlist %}

            {% endblock %}
        {% endif %}

        {% block buy_widget_ordernumber_container %}
            {% block buy_widget_delivery_informations %}
                <div class="product-detail-delivery-information">
                    {% sw_include '@Storefront/storefront/component/delivery-information.html.twig' %}

                    {% block buy_widget_ordernumber_label %}
                        <span class="product-detail-ordernumber-label">
                            {{ "detail.productNumberLabel"|trans|sw_sanitize }}
                        </span>
                    {% endblock %}

                    {% block buy_widget_ordernumber %}
                        <meta itemprop="productID"
                              content="{{ product.id }}"/>
                        <span class="product-detail-ordernumber"
                              itemprop="sku">
                            {% if page.extensions.products.productNumber %}
                                {{ page.extensions.products.productNumber }}
                            {% else %}
                                {{ product.productNumber }}
                            {% endif %}
                        </span>
                    {% endblock %}
                </div>
            {% endblock %}
            {% if product.productNumber %}
                <div class="product-detail-ordernumber-container">

                </div>
            {% endif %}
        {% endblock %}
        {% block gaisbock_extra_info %}
            {% if page.product.translated.customFields.gaisbock_product_detail_description_set_image1_text %}
                <div class="accordion" id="accordionExampleOne">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingOne">
                            <h3 class="accordion-header" id="headingOne">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseTwo">
                                    {{ "productDetailPage.contents"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block page_product_detail_description_content_text %}
                            <div id="collapseOne" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExampleOne">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {% if page.product.extensions.images.customImage.1 %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.1.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image1_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.2 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.2.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image2_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.3 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.3.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image3_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.4 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.4.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image4_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.5 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.5.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image5_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.6 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.6.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image6_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.7 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.7.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image7_text }}</p>
                                        </div>
                                    {% endif %}
                                    {% if page.product.extensions.images.customImage.8 %}
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <div class="gasibook-variant-img"><img
                                                    src="{{ page.product.extensions.images.customImage.8.url }}" alt="">
                                            <p class="gaisbock-product-image-text">{{ page.product.translated.customFields.gaisbock_product_detail_description_set_image8_text }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_benefits %}
                <div class="accordion" id="accordionExampleTwo">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingTwo">
                            <h3 class="accordion-header" id="headingTwo">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseTwo"
                                      aria-expanded="true" aria-controls="collapseTwo">
                                    {{ "productDetailPage.benefits"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block page_product_detail_description_content_text_benfits %}
                            <div id="collapseTwo" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExampleTwo">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_benefits|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_effect %}
                <div class="accordion" id="accordionExampleThree">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingThree">
                            <h3 class="accordion-header" id="headingThree">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseThree"
                                      aria-expanded="true" aria-controls="collapseThree">
                                    {{ "productDetailPage.effect"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_effect %}
                            <div id="collapseThree" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExampleThree">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_effect|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_application %}
                <div class="accordion" id="accordionExampleFour">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingFour">
                            <h3 class="accordion-header" id="headingFour">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseFour"
                                      aria-expanded="true" aria-controls="collapseFour">
                                    {{ "productDetailPage.application"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_application %}
                            <div id="collapseFour" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExampleFour">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_application|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_integral %}
                <div class="accordion" id="accordionExampleFive">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingFive">
                            <h3 class="accordion-header" id="headingFive">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseFive"
                                      aria-expanded="true" aria-controls="collapseFive">
                                    {{ "productDetailPage.integral"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_integral %}
                            <div id="collapseFive" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExampleFive">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_integral|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% if page.product.translated.customFields.gaisbock_product_detail_extra_details_shipping %}
                <div class="accordion" id="accordionExampleSix">
                    <div class="gaisbock-description-contain">
                        <div class="h3 gaisbock-title-tab gaisbock-description-contain-title accordion-header"
                             id="headingSix">
                            <h3 class="accordion-header" id="headingSix">
                                <span class="gaisbock-accordion collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseSix"
                                      aria-expanded="true" aria-controls="collapseSix">
                                    {{ "productDetailPage.shipping"|trans|sw_sanitize }}
                                    {% sw_icon 'gaisbock-chevron-down' style {'pack': 'gaisbock','class':'gaisbock-extra-detail'} %}
                                </span>
                            </h3>
                        </div>

                        {% block gaisbock_product_detail_extra_details_shipping %}
                            <div id="collapseSix" class="accordion-collapse gaisbock-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExampleSix">
                                <div class="gaisbock-description-contain-title-description" itemprop="description">
                                    {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_shipping|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const accordionItems = document.querySelectorAll('.gaisbock-accordion');
                    const accordionItem = document.querySelectorAll('.gaisbock-collapse');

                    console.log(accordionItem[0])
                    accordionItems[0].classList.remove('collapsed');
                    accordionItem[0].classList.add('show');
                });
            </script>
        {% endblock %}
        <div class="accordian-review">
            {% for review in section.blocks.elements %}
                {% if review.type == "product-description-reviews" %}
                    {% set element = review.slots.getSlot('content') %}
                    {% set config = element.fieldConfig.elements %}
                    {% set product = element.data.product %}
                    {% set descriptionTabId = "description-tab-" ~ product.id %}
                    {% set descriptionTabHref = "#description-tab-" ~ product.id ~ "-pane" %}
                    {% set descriptionTabContent = "description-tab-" ~ product.id ~ "-pane" %}
                    {% set reviewTabId = "review-tab-" ~ product.id %}
                    {% set reviewTabHref = "#review-tab-" ~ product.id ~ "-pane" %}
                    {% set reviewTabContent = "review-tab-" ~ product.id ~ "-pane" %}

                    {% if element.data.product %}
                        <div class="product-detail-tabs cms-element-{{ element.type }}{% if config.alignment.value %} has-vertical-alignment{% endif %}">
                            {% set reviewsPerListPage = 10 %}

                            {% set currentListPage = element.data.reviews.page + 1 %}

                            {% set productReviewCount = element.data.reviews.totalReviews %}

                            {% if productReviewCount > 0 %}
                                {% set productAvgRating = element.data.reviews.matrix.averageRating|round(2, 'common') %}
                            {% endif %}

                            {% set foreignReviewsCount = 150 %}

                            {% set ratingSuccess = element.data.ratingSuccess %}
                            <div class="product-detail-review">
                                {% block component_review_tab_pane %}
                                    {% block component_review_aside %}
                                        <div class="col-sm-6">
                                            {% block component_review_widget_container %}
                                                {% sw_include '@Storefront/storefront/component/review/review-widget.html.twig'with {
                                                    reviews: element.data.reviews,
                                                    product: element.data.product
                                                } %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block component_review_main %}

                                    {% endblock %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
