{% sw_extends '@LaenenGiftcard/storefront/page/product-detail/buy-widget-giftcard-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="product-detail-giftcard-form col-8">
        <div class="product-detail-configurator-group">
            <div class="product-detail-configurator-options">
                <div class="input-group mb-3 product-detail-configurator">
                    {#                    {% block layout_header_actions_currency_widget_form_items_element_input %}#}
                    <a class="d-block"><input class="gaisbock-gifcard-price"
                                              id="gift-card"
                                              value="50"
                                              name="lineItems[{{ product.id }}][giftcardAmount]"
                                              type="radio" checked>
                        <label class="gaisbock-gifcard-price-lable"
                               for="gift-card">
                            {{"CHF 50.–" }}
                        </label>
                    </a>
                    <a class="d-block">
                        <input class="gaisbock-gifcard-price"
                               id="gift-card"
                               value="100"
                               name="lineItems[{{ product.id }}][giftcardAmount]"
                               type="radio" checked>
                        <label class="gaisbock-gifcard-price-lable"
                               for="gift-card">
                            {{"CHF 100.–" }}
                        </label>
                    </a>
                    <a class="d-block">
                        <input class="gaisbock-gifcard-price"
                               id="gift-card"
                               value="150"
                               name="lineItems[{{ product.id }}][giftcardAmount]"
                               type="radio" checked>
                        <label class="gaisbock-gifcard-price-lable"
                               for="gift-card">
                            {{"CHF 150.–" }}
                        </label>
                    </a>
                    <a class="d-block">
                        <input class="gaisbock-gifcard-price"
                               id="gift-card"
                               value="200"
                               name="lineItems[{{ product.id }}][giftcardAmount]"
                               type="radio" checked>
                        <label class="gaisbock-gifcard-price-lable"
                               for="gift-card">
                            {{"CHF 200.–" }}
                        </label>
                    </a>

                    {#                    {% endblock %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
