{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
{% block page_product_detail_configurator %}
    <div class="product-detail-configurator">
        {% set config = {
            url: url('frontend.detail.switch', { productId: page.product.parentId })
        } %}

        {% block page_product_detail_configurator_form %}
            {% block page_product_detail_configurator_option_radio_label_text %}
                {% for variantProducts in page.extensions.products.variants %}
                    {% if page.extensions.products.VariantImage|first != []%}
                        <hr>
                    {% endif %}
                    <div class="gaisbock-variant-header-section d-flex flex-wrap align-items-center">
                    <a href="{{ seoUrl('frontend.detail.page', { 'productId': variantProducts.id }) }}"
                       title="{{ variantProducts.translated.name }}">
                        <input type="radio"
                               name="{{ variantProducts.parentId }}"
                               value="{{ variantProducts.id }}"
                               title="{{ variantProducts.id }}"
                               id="{{ variantProducts.parentId.id }}"
                               {% if page.product.id == variantProducts.id %}checked="checked"{% endif %}>

                        <label class=""
                               title="{{ variantProducts.translated.name }}"
                               for="{{ parentId.id }}">
                            {% set varinatName = variantProducts.options|first %}
                            {{ variantProducts.translated.name }}
                            {% if page.product.customFields.gaisbock_product_detail_extra_details_properties %}
                                {{ varinatName.translated.name }}
                            {% endif %}
                        </label>
                    </a>
                    <div class="gaisbock-price-view-section">
                        {% set price = variantProducts.calculatedPrice %}

                        {% if variantProducts.calculatedPrices|length == 1 %}
                            {% set price = variantProducts.calculatedPrices.first %}
                        {% endif %}

                        <meta itemprop="price"
                              content="{{ price.unitPrice }}">

                        {% block page_product_detail_price_content %}
                            {% set listPrice = price.listPrice %}
                            {% set isListPrice = listPrice.percentage > 0 %}
                            {% set isRegulationPrice = price.regulationPrice != null %}
                            {% if isListPrice %}
                                {% block page_product_detail_was_price %}

                                    {% block page_product_detail_was_price_badge %}
                                    {% endblock %}

                                    {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                                    {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}

                                    {% block page_product_detail_was_price_wrapper %}
                                        <span class="product-detail-list-price-wrapper">
                        {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim }}{% endif %}

                        <span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ listPrice.price|currency }}</span>

                        {% if afterListPriceSnippetExists %}
                            {{ "listing.afterListPrice"|trans|trim }}
                        {% endif %}
                        </span>
                                    {% endblock %}
                                {% endblock %}
                            {% endif %}
                            <p class="product-detail-price{% if isListPrice %} with-list-price{% endif %}{% if isRegulationPrice %} with-regulation-price{% endif %}">
                                {{ price.unitPrice|currency }}
                            </p>


                            {% if isRegulationPrice %}
                                <span class="product-detail-list-price-wrapper">
                                <span class="regulation-price">{{ "general.listPricePreviously"|trans({'%price%': price.regulationPrice.price|currency }) }}</span>
                            </span>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="gaisbock-variant-selection-price-number">
                        <meta itemprop="productID"
                              content="{{ variantProducts.id }}"/>
{#                        <span class="gaisbock-variant-product-detail-ordernumber-label">#}
{#                            {{ "detail.productNumberLabel"|trans|sw_sanitize }}#}
{#                        </span>#}
{#                        <span class="gaisbock-variant-product-detail-ordernumber"#}
{#                              itemprop="sku">#}
{#                            {{ variantProducts.productNumber }}#}
{#                        </span>#}
                    </div>
                    </div>
                    {% if page.extensions.products.VariantImage|first != []%}
                        <div class="gaisbock-variant-selection-images">
                        {% for key,variantImage in page.extensions.products.VariantImage %}
                            {% if key == variantProducts.id %}
                                {% if variantImage.1.image %}
                                    <div class="gasibook-variant-img">
                                        <img src="{{ variantImage.1.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.1.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.2.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.2.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.2.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.3.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.3.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.3.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.4.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.4.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.4.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.5.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.5.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.5.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.6.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.6.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.6.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.7.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.7.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.7.text }}</p>
                                    </div>
                                {% endif %}
                                {% if variantImage.8.image %}
                                    <div class="gasibook-variant-img">
                                        {% sw_icon 'gaisbock-plus' style {'pack': 'gaisbock','class':'gaisbock-image-text-middle'} %}
                                        <img src="{{ variantImage.8.image.url }}" alt="">
                                        <p class="gaisbock-product-image-text">{{ variantImage.8.text }}</p>
                                    </div>
                                {% endif %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
            <div class="gaisbock-variant-comment">
                {{ page.product.translated.customFields.gaisbock_product_detail_extra_details_comment|raw }}
            </div>
            <form data-variant-switch="true" data-variant-switch-options="{{ config|json_encode }}">
                {% block page_product_detail_configurator_groups %}
                    {% for group in page.configuratorSettings %}
                        {% block page_product_detail_configurator_group %}
                            <div class="product-detail-configurator-group">

                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
            </form>
        {% endblock %}
    </div>
{% endblock %}
