{% block pluszwei_faq_manager_category_section_container %}
    <div class="lTwoCate" id="{{ section.translated.name|lower|slugify }}">
        {% block pluszwei_faq_manager_category_section_heading %}
            <h2 class="h3">{{ section.translated.name }}</h2>
        {% endblock %}

        {% block pluszwei_faq_manager_category_section_content %}
            <ul class="rowItem yellow_theme" data-faq-section="true">
                {% set activeArticles = section.sectionArticles.filterByProperty('active', true) %}
                {% set numMore = activeArticles|length - 3 %}
                {% for article in activeArticles %}
                    {% if article.active %}
                        {% if loop.index0 == 3 and numMore > 1 %}
                            <li class="columnItem seeMore" tabindex="0">{{ 'pluszweiFaqManager.category.seeMore'|trans({'%num%': numMore})|sw_sanitize }}</li>
                        {% endif %}
                        {% if loop.index0 >= 3 and numMore > 1 %}
                            {% set hideClass = 'hide' %}
                        {% else %}
                            {% set hideClass = '' %}
                        {% endif %}
                        {% set readingTime = article.readingTimeInMin %}

                        {% block pluszwei_faq_manager_category_section_item %}
                            <li class="columnItem {{ hideClass }}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <a href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}">
                                    <div class="columnHead" itemprop="name">{{ article.translated.title }}</div>
                                    <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">{{ article.translated.teaser }}</p>
                                    </div>
                                    <span class="footNote">{{ 'pluszweiFaqManager.article.readingTime'|trans({'%min%': readingTime})|sw_sanitize }}</span>
                                </a>
                            </li>
                        {% endblock %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endblock %}

    </div>
{% endblock %}