{% block sw_cms_gaisbock_listpage_image_text %}
    <div class="sw-cms-el-gaisbock-image-add-more-text">
        <div class="sw-cms-el-gaisbock-image-add-more-text--inner">
            <div class="ssw-cms-el-gaisbock-mian-image" :class="displayModeClass" :style="styles">
                {% block sw_cms_element_image_content %}
                    <div class="sw-cms-el-gaisbock-image-add-more-text__image-section">
                        <img :src="mediaUrl" :style="imgStyles" alt="">
                    </div>
                {% endblock %}
                {% block sw_cms_element_text %}
                    <div class="sw-cms-el-gaisbock-image-add-more-text__text">
                        <div v-if="element.config.content.source === 'mapped'" class="sw-cms-el-text__mapping-preview content-editor" v-html="$sanitize(demoValue)"></div>
                        <sw-text-editor
                                v-else
                                v-model="element.config.content.value"
                                :disabled="disabled"
                                :allow-inline-data-mapping="true"
                                :is-inline-edit="true"
                                sanitize-input
                                enable-transparent-background
                                @blur="onBlur"
                                @input="onInput"
                        />
                    </div>
                {% endblock %}
                <div class="sw-cms-preview-gaisbock-image-addmore-text__images">
                    <div class="gaisbock-image-line">
                        <img :src="one" alt="">
                        <p>{{ element.config.titleOne.value }}</p>
                        <img :src="two" alt="">
                        <p>{{ element.config.titleTwo.value }}</p>
                        <img :src="three" alt="">
                        <p>{{ element.config.titleThree.value }}</p>
                    </div>
                    <div class="gaisbock-image-line">
                        <img :src="four" alt="">
                        <p>{{ element.config.titleFour.value }}</p>
                        <img :src="five" alt="">
                        <p>{{ element.config.titleFive.value }}</p>
                        <img :src="six" alt="">
                        <p>{{ element.config.titleSix.value }}</p>
                    </div>
                    <div class="gaisbock-image-line">
                        <img :src="seven" alt="">
                        <p>{{ element.config.titleSeven.value }}</p>
                        <img :src="eight" alt="">
                        <p>{{ element.config.titleEight.value }}</p>
                        <img :src="nine" alt="">
                        <p>{{ element.config.titleNine.value }}</p>
                    </div>
                    <div class="gaisbock-image-line">
                        <img :src="ten" alt="">
                        <p>{{ element.config.titleTen.value }}</p>
                        <img :src="eleven" alt="">
                        <p>{{ element.config.titleEleven.value }}</p>
                        <img :src="twelve" alt="">
                        <p>{{ element.config.titleTwelve.value }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}